textarea {
	padding: 10px;
	line-height: 1.5em;
	min-height: 200px;
	height: 90%;
	width: 90%;
	direction: rtl;
}

.nInput {
	text-align: center;
}

.tab {
	padding: 15px 5px;
}

.menu {
	text-align: center;
}

.menu .item {
	border-bottom: 2px solid var(--ColorG);
	display: inline-block;
	cursor: pointer;
	margin: 0 5px;
	padding: 5px;
}

.active {
	font-weight: 700;
	border-bottom: 2px solid var(--ColorO) !important;
	color: var(--ColorO) !important;
}

.resultDiv {
	direction: ltr;
	padding: 10px;
	height: 300px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	line-height: 2em;
	font-size: 16px;
	overflow-y: auto;
}

.resultDiv p {
	margin: 0;
}

.ambig {
	border-bottom: #d3a1f7 2px solid;
	position: relative;
	display: inline-block;
}

.curAmbig {
	background-color: #d3a1f7;
}

.ambigContent {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 5px;
	z-index: 1;
}

.ambig:hover .ambigContent {
	display: block;
}

.candidates {
	text-align: center;
	padding: 5px;
}

.candidate {
	direction: ltr;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	background-color: #11a683;
	color: #fff;
	padding: 0 4px;
	margin: 3px;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
}

.candidate:hover {
	background-color: #15c39a;
}

#maxExceeded {
	font-weight: bold;
	color: #FB8C00;
}